body {
  background:#f1f5f8;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(42, 42, 42);
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  padding: 2rem;
}

h2 {
  text-align: center;
}

.slash {
  color: rgb(221, 5, 5);
}